@import '../../common/colors.scss';

.footer {
    background-color: $secondary-color;
    color: $font-primary;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    font-size: 28px;
    height: 72px;
    width: 100%;
    position: fixed;
    bottom: 0%;
}